
#todoapp
  .title
    %h1 Todos
  .content
    #create-todo
      %input#new-todo{ :placeholder => "What needs to be done?", :type => "text" }
      %span.ui-tooltip-top{ :style => "display: none" } Press Enter to safe this task
    #todos
      %ul#todo-list
    #todo-stats
%ul#instructions
  %li Double-Click to edit a todo.

